/* board */
.board {
  aspect-ratio: 1/1;
  max-width: 50rem;
  max-height: 50rem;
  background-color: #caab93;
}

.boardWrapper {
  background-color: #caab93;
  max-width: 50rem;
  max-height: 50rem;

  padding: 5rem;
}

/* control panel */
.dropBtn {
  border-radius: 50%;
  padding: 2rem;
  border: none;
  cursor: pointer;
}
